.ui-tabs .ui-tabs-hide {
     display: none;
}
.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	position:relative;
    margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}
.ac_loading {
	background : Window url('autocomplete_indicator.gif') right center no-repeat;
}
.ac_over {
	background-color: Highlight;
	color: HighlightText;
}
.qnt {
  position:absolute;
  top:2px;
  right:10px;
  font-size:0.8em;
  color:#26A908;
}
#main-container {
	margin: 0 auto;
}
#nav{
    height: 15pt;
}
/* navigation */
#nav, #nav ul {
	padding:0;
	margin:0;
	list-style:none;
}
#nav li {
	float:left;
	margin-right:20px;
	display:inline;
	position:relative;
}	
#nav li.hover {
	border-bottom:1px solid #01729d;
}
#nav ul li {
	padding:0;
	float:none;
	border:none;
}
#nav li.hover li {border:none;}
#nav li div {
	position:absolute;
	top:15px;
	left:-9999px;
	width:100px;
}
#nav li.hover div {left:0;}
.example1 li {
	margin-right:2px !important;
	border:none !important;
}
.example1 div {width:120px;}
.example1 a {
	line-height:20px;
	display:block;
}
.example1 ul {
	border:1px solid #A2A9A7;
}
.example1 .hover a {background:#FFFFFF;}
.example1 div li {margin-right:0 !important;}
.example1 div {
	width:300px !important;
	top:31px !important;
    background:#FFFFFF;
}
.example1 div a {border:none;}

.pod a
{
    font: 1.0em 'Lucida Grande',Verdana,sans-serif ;
    font-weight: bold;
}
.poda a
{
    font: 1.0em 'Lucida Grande',Verdana,sans-serif ;
        	margin: 5px 3px 0px 0px;
}	